@import '@/assets/reset.scss';
@import '@/assets/variables.scss';

.text {
    &-primary {
        color: $primary;
    }

    &-c-secondary {
        color: $secondary !important;
    }

    &-tertiary {
        color: $tertiary;
    }

    &-quaternary {
        color: $quaternary;
    }

    &-accent {
        color: $accent;
    }

    &-semi-small {
        font-size: $val-15;
    }
}

.btn {
    height: $val-44;
    border-radius: 10%/100% !important;

    &-primary {
        background-color: $accent !important;
    }

    &-outline{
        &-primary {
            border-color: $accent !important;
            color: $accent !important;

            &:hover {
                background-color: $accent !important;
                color: $white !important;
            }
        }

        &-secondary {
            border-color: $quaternary !important;
            color: $primary !important;

            i {
                color: $secondary !important;
                font-size: $val-20;
            }

            &:hover {
                background: $tertiary !important;
                color: $white !important;

                i {
                    color: $white !important;
                }
            }
        }
    }
}