@import '@/assets/reset.scss';

.text {
    &-primary {
        color: $primary;
    }

    &-secondary {
        color: $secondary;
    }

    &-tertiary {
        color: $tertiary;
    }

    &-quaternary {
        color: $quaternary;
    }
}

.btn {
    height: 44px;
    border-radius: 8%/100%;

    &-outline{
        &-primary {
            border-color: $accent;
            color: $accent;

            &:hover {
                background-color: $accent;
            }
        }

        &-secondary {
            border-color: $quaternary;
            color: $primary;

            i {
                color: $secondary;
                font-size: 20px;
            }

            &:hover {
                background: $tertiary;

                i {
                    color: $white;
                }
            }
        }
    }
}