body {
    font-family: 'Rubik', sans-serif !important;
}

:root {
    --gray-100: #11151D;
    --gray-90: #3D4352;
    --gray-80: #737986;
    --gray-50: #C0C8D1;
    --gray-30: #E0E3E7;
    --gray-20: #eff0f2;

    --blue-60: #052472;
    --blue-50: #0055C5;
    --blue-40: #369EFF;
    --blue-30: #5BC8FF;
    --blue-20: #b9e3f4;
    --blue-10: #CFEFFF;
}